.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-navlink {
  text-decoration: none;
}
.navigation-links2-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links2-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}










@media(max-width: 1600px) {
  .navigation-links2-nav {
    width: 193px;
    height: 18px;
  }
}
@media(max-width: 767px) {
  .navigation-links2-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links2-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gallery-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.gallery-image {
  height: 2rem;
}
.gallery-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery-burger-menu {
  display: none;
}
.gallery-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.gallery-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.gallery-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gallery-image01 {
  height: 2rem;
}
.gallery-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-frame1 {
  width: 100%;
  height: 565px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-gradient-06);
}
.gallery-slider {
  width: 500px;
  height: 300px;
  display: inline-block;
}
.gallery-slider-slide {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image02 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-slide01 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image03 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-slide02 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image04 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-pagination {
  display: block;
}
.gallery-slider1 {
  width: 500px;
  height: 300px;
  display: inline-block;
}
.gallery-slider-slide03 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image05 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-slide04 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image06 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-slide05 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image07 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-pagination1 {
  display: block;
}
.gallery-slider2 {
  width: 500px;
  height: 300px;
  display: inline-block;
}
.gallery-slider-slide06 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image08 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-slide07 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image09 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-slide08 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image10 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-pagination2 {
  display: block;
}
.gallery-slider3 {
  width: 500px;
  height: 300px;
  display: inline-block;
}
.gallery-slider-slide09 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image11 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-slide10 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image12 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-slide11 {
  display: flex;
  align-items: center;
  background-size: 100%;
  justify-content: center;
}
.gallery-image13 {
  width: 200px;
  object-fit: cover;
}
.gallery-slider-pagination3 {
  display: block;
}
@media(max-width: 1600px) {
  .gallery-frame1 {
    height: 1440px;
  }
  .gallery-slider {
    top: 137px;
    left: 202px;
    width: 495px;
    height: 533px;
    position: absolute;
  }
  .gallery-slider-wrapper {
    width: 100%;
  }
  .gallery-slider-slide {
    background-size: cover;
  }
  .gallery-image02 {
    width: auto;
  }
  .gallery-slider-slide01 {
    height: 549px;
  }
  .gallery-image03 {
    width: auto;
  }
  .gallery-image04 {
    width: auto;
  }
  .gallery-slider1 {
    top: 128px;
    left: 878px;
    width: 495px;
    height: 533px;
    position: absolute;
  }
  .gallery-slider-wrapper1 {
    width: 100%;
  }
  .gallery-slider-slide03 {
    background-size: cover;
  }
  .gallery-image05 {
    flex: 1;
    width: auto;
    height: 500px;
  }
  .gallery-slider-slide04 {
    height: 549px;
  }
  .gallery-image06 {
    width: auto;
  }
  .gallery-image07 {
    width: auto;
  }
  .gallery-slider2 {
    left: 193px;
    width: 495px;
    bottom: 112px;
    height: 533px;
    position: absolute;
  }
  .gallery-slider-wrapper2 {
    width: 100%;
  }
  .gallery-slider-slide06 {
    background-size: cover;
  }
  .gallery-image08 {
    flex: 1;
    width: auto;
    height: 500px;
  }
  .gallery-slider-slide07 {
    height: 549px;
  }
  .gallery-image09 {
    width: auto;
  }
  .gallery-image10 {
    width: auto;
  }
  .gallery-slider3 {
    left: 886px;
    width: 495px;
    bottom: 108px;
    height: 533px;
    position: absolute;
  }
  .gallery-slider-wrapper3 {
    width: 100%;
  }
  .gallery-slider-slide09 {
    background-size: cover;
  }
  .gallery-image11 {
    width: 500px;
    height: auto;
  }
  .gallery-slider-slide10 {
    height: 549px;
  }
  .gallery-image12 {
    width: 500px;
  }
  .gallery-image13 {
    width: 500px;
  }
}
@media(max-width: 767px) {
  .gallery-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-nav {
    display: none;
  }
  .gallery-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .gallery-header {
    padding: var(--dl-space-space-unit);
  }
  .gallery-mobile-menu {
    padding: 16px;
  }
}
