.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-navlink {
  text-decoration: none;
}
.navigation-links2-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links2-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links2-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.team-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.team-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.team-image {
  height: 2rem;
}
.team-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.team-burger-menu {
  display: none;
}
.team-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.team-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.team-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.team-image1 {
  height: 2rem;
}
.team-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.team-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.team-frame1 {
  width: 100%;
  height: 565px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-start;
  background-color: var(--dl-color-gradient-06);
}
.team-container02 {
  top: 185px;
  left: 74px;
  width: 1322px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-image2 {
  width: 200px;
  object-fit: cover;
}
.team-container03 {
  top: 245px;
  left: 77px;
  width: 288px;
  height: 848px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-container04 {
  top: 185px;
  left: 74px;
  width: 1322px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-image3 {
  width: 200px;
  object-fit: cover;
}
.team-container05 {
  top: 245px;
  left: 77px;
  width: 288px;
  height: 848px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-container06 {
  top: 185px;
  left: 74px;
  width: 1322px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-image4 {
  width: 200px;
  object-fit: cover;
}
.team-container07 {
  top: 245px;
  left: 77px;
  width: 288px;
  height: 848px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-container08 {
  top: 185px;
  left: 74px;
  width: 1322px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-image5 {
  width: 200px;
  object-fit: cover;
}
.team-container09 {
  top: 245px;
  left: 77px;
  width: 288px;
  height: 848px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-frame11 {
  width: 100%;
  height: 565px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-start;
  background-color: var(--dl-color-gradient-06);
}
.team-container10 {
  top: 185px;
  left: 74px;
  width: 1322px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-image6 {
  width: 200px;
  object-fit: cover;
}
.team-container11 {
  flex: 0 0 auto;
  width: 965px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-container12 {
  top: 245px;
  left: 77px;
  width: 288px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 848px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-container13 {
  top: 185px;
  left: 74px;
  width: 1322px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.team-image7 {
  width: 200px;
  object-fit: cover;
}
.team-container14 {
  top: 245px;
  left: 77px;
  width: 288px;
  height: 848px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
@media(max-width: 1600px) {
  .team-frame1 {
    height: 724px;
  }
  .team-text {
    top: 67px;
    left: 56px;
    color: var(--dl-color-color-white) rgba(0, 0, 0, 1);
    position: absolute;
    font-size: 44px;
  }
  .team-container02 {
    left: 98px;
    width: 566px;
    bottom: 69px;
    position: 0px;
  }
  .team-text01 {
    top: 0px;
    left: 5px;
    color: var(--dl-color-color-black);
    position: absolute;
  }
  .team-image2 {
    top: 2px;
    left: 340px;
    position: absolute;
  }
  .team-container03 {
    top: 39px;
    left: 0px;
    width: 344px;
    height: 107px;
  }
  .team-text02 {
    color: var(--dl-color-color-black);
  }
  .team-text03 {
    font-size: 24px;
  }
  .team-container04 {
    top: 452px;
    left: 865px;
    width: 566px;
  }
  .team-text05 {
    top: 0px;
    left: 5px;
    color: var(--dl-color-color-black);
    position: absolute;
  }
  .team-image3 {
    top: 2px;
    left: 340px;
    position: absolute;
  }
  .team-container05 {
    top: 39px;
    left: 0px;
    width: 344px;
    height: 107px;
  }
  .team-text06 {
    color: var(--dl-color-color-black);
  }
  .team-text07 {
    font-size: 24px;
  }
  .team-container06 {
    left: 863px;
    width: 566px;
    bottom: 129px;
    position: absolute;
  }
  .team-text09 {
    top: 0px;
    left: 5px;
    color: var(--dl-color-color-black);
    position: absolute;
  }
  .team-image4 {
    top: 2px;
    left: 340px;
    position: absolute;
  }
  .team-container07 {
    top: 39px;
    left: 0px;
    width: 344px;
    height: 107px;
  }
  .team-text10 {
    color: var(--dl-color-color-black);
    font-size: 24px;
  }
  .team-container08 {
    top: 472px;
    left: 89px;
    width: 566px;
  }
  .team-text13 {
    top: 0px;
    left: 5px;
    color: var(--dl-color-color-black);
    position: absolute;
  }
  .team-image5 {
    top: 2px;
    left: 340px;
    position: absolute;
  }
  .team-container09 {
    top: 39px;
    left: 0px;
    width: 344px;
    height: 107px;
  }
  .team-text14 {
    color: var(--dl-color-color-black);
  }
  .team-text15 {
    font-size: 24px;
  }
  .team-frame11 {
    height: 843px;
  }
  .team-text17 {
    top: 67px;
    left: 56px;
    color: var(--dl-color-color-black);
    position: absolute;
    font-size: 44px;
  }
  .team-container10 {
    top: 477px;
    left: 100px;
  }
  .team-text18 {
    top: 0px;
    left: 5px;
    color: var(--dl-color-color-black);
    position: absolute;
  }
  .team-image6 {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .team-container11 {
    position: relative;
  }
  .team-text19 {
    top: -38px;
    left: -4px;
    color: var(--dl-color-color-black);
    position: absolute;
    font-size: 24px;
  }
  .team-container12 {
    top: 39px;
    left: 0px;
    width: 965px;
    height: 211px;
  }
  .team-container13 {
    left: 98px;
    bottom: 69px;
    position: 0px;
  }
  .team-text25 {
    top: 0px;
    left: 5px;
    color: var(--dl-color-color-black);
    position: absolute;
  }
  .team-image7 {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .team-container14 {
    top: 39px;
    left: 0px;
    width: 965px;
    height: 211px;
  }
  .team-text26 {
    color: var(--dl-color-color-black);
  }
  .team-text27 {
    font-size: 24px;
  }
}
@media(max-width: 767px) {
  .team-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-nav {
    display: none;
  }
  .team-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .team-header {
    padding: var(--dl-space-space-unit);
  }
  .team-mobile-menu {
    padding: 16px;
  }
}
